/* Font */
@import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');


/* jumbotron */
.jumbotron {
    padding: 60px;
    background-color: #EC994B;
    text-align: center;
    font-size: 20px;
    color: white;
}

/* navigasi */

nav {
    display: flex;
    background-color: #73777B;
    justify-content: space-around;
    /* padding: 10px 0; */
    height: 70px;
    align-items: center;
    color: #F1EEE9;
    letter-spacing: 1px;
}

.sticky {
    position: sticky;
    top: 0;
}

nav ul {
    display: flex;  
    list-style: none;
    width: 25%;
    justify-content: space-between;
}

.logo > a {
    color: #F1EEE9;
    text-decoration: none;
}

nav ul li a {
    color: #F1EEE9;
    text-decoration: none;
}

a:hover {
    transition: all 0.5s;
}

aside a {
    color: black;
    text-decoration: none;
}

aside a:hover {
    color: grey;
}

nav ul li a:hover {
    color: white;
}


/* main style */
* {
    box-sizing: border-box;
}

header {
    display: inline;
}

body {
    font-family: 'Viga', sans-serif;
    background-color: #F1EEE9;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

main {
    padding: 20px;
    padding-top: 0;
    overflow: auto;
}

.card {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border: 8px solid #73777B;
    padding: 20px;
    border-radius: 10px;
    margin-top: 50px;
}

#content {
    float: left;
    width: 75%;
}

h2, h3 {
    color: #EC994B;
}

.important {
    color: black;
}

footer {
    margin-top: 41px;
    padding: 23px;
    color: white;
    background-color: #73777B;
    text-align: center;
}

/* aside */
aside {
    float: right;
    width: 25%;
    padding-left: 50px;
}

.info {
    text-align: left;
}

th {
    padding-right: 20px;
}

.profile {
    padding-bottom: 20px;
}

.profile header {
    text-align: center;
}

.profile img {
    border-radius: 100%;
    border: 5px solid #73777B;
    width: 200px;
}

/* hamburger animation */
.menu-toggle span:nth-child(2) {
    transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
    transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2) {
    transform: rotate(45deg);
}

.menu-toggle input:checked ~ span:nth-child(3) {
    opacity: 0;
    transform: scale(0);
}

.menu-toggle input:checked ~ span:nth-child(4) {
    transform: rotate(-45deg) translate(-1px, 1px);
}


/* hamburger menu */
.menu-toggle {
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
}

.menu-toggle input {
    position: absolute;
    width: 40px;
    height: 28px;
    left: -10px;
    top: -7px;
    opacity: 0;
    z-index: 2;
    cursor: pointer;
}

.menu-toggle span {
    display: block;
    width: 28px;
    height: 3px;
    background-color: #F1EEE9;
    transition: all 0.5s;
}

.slide {
    margin: -1px;
    padding: 0;
}

/* responsive */
@media screen and (max-width: 1025px) {
    #content,
     aside {
             width: 100%;
             padding: 0;
         }   
     }

     @media screen and (max-width: 1445px) {
         nav ul {
             width:30%;
         }
     }

     @media screen and (max-width: 1215px) {
         nav ul {
             width:40%;
         }
     }


     @media screen and (max-width: 768px) {
         .menu-toggle {
             display: flex;
         }

         nav ul {
             position: absolute;
             top: -50px;
             width: 100%;
             height: 0;
             background-color: #73777B;
             justify-content: space-evenly;
             flex-direction: column;
             align-items: center;
             z-index: -1;
             transition: all 1s;
             opacity: 0;
         }

         nav ul.slide {
            opacity: 1;
            top: 0;
            height: 200px;
         }
     }